body {
    background-color: blue;
    font-family: 'Roboto', sans-serif;
}

.title-h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    align-self: flex-end;
    margin: auto;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: center;
    padding: 10px;

}

#stay-section {
    bottom: 20px;
    display: flex;
    align-items: end;
    position: fixed;
}



#message-box {
    height: 100px;
    width: 80vw;
    background-color: black;
    border: solid black 2px;
    outline: none;
    color: blue;
    border-radius: 20px;
    font-size: 30px;
    vertical-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    padding: 10px;
    border: solid blue 2px;
}

textarea {
    resize: none;
    scrollbar-color: #888 #f1f1f1; /* Firefox */
    scrollbar-width: 30px;
    scrollbar-color: blue;
}

#icon-div {
    display: flex;
    text-align: center;
    vertical-align: center;
    height: 100px;
    font-size: 40px;
}

i {
    margin-left: 20px;
    margin-right: 20px;
}

.myDiv {
    background-color: black;
    height: auto;
    width: 50vw;
    padding: 20px;
    color: blue;
    font-size: 30px;
    vertical-align: center;
    text-align: start;
    padding: 20px;
    border: 3px solid black;
    margin: 20px;
    border-radius: 30px;
    white-space: normal;
    word-wrap: break-word;
}

#container {
    display: flex;
    align-items: end;
    flex-direction: column;

}

#contain-name {
    display: flex;
    text-align: center;
    vertical-align: center;
}

.userName {
    background-color: black;
    font-size: 30px;
    width: auto;
    color: white;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    margin: 20px;
}

textarea::-webkit-scrollbar {
    width: 30px;
}

textarea::-webkit-scrollbar-track {
    background: black;
}

textarea::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
    border: 40px solid black;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: blue;
}

textarea::-webkit-scrollbar-track:hover {
    background: black;
}


.transparent-div {
    height: 200px;
    background-color: transparent;
}

.header1 {
    display: flex;
    background-color: blue;
    margin: 0px;
    border-radius: 20px;
    align-items: center;
    position: relative;
    vertical-align: center;
}


